<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    
    <bean id="daoComputer" class="com.excilys.formation.cdb.persistence.DAOComputer"/>
    
    <bean id="computerService" class="com.excilys.formation.cdb.service.ComputerService">
    	<property name="daoComputer" ref="daoComputer"/>
    </bean>
    
    <bean id="daoCompany" class="com.excilys.formation.cdb.persistence.DAOCompany"/>
    
    <bean id="companyService" class="com.excilys.formation.cdb.service.CompanyService">
    	<property name="daoCompany" ref="daoCompany"/>
    </bean>
</beans>
 